<ion-app>

  <ion-split-pane contentId="main-content">
    <!--type "overlay", "reveal", "push"-->
    <ion-menu class="my-custom-menu" side="start" menuId="mainMenu" contentId="main-content" type="reveal" enable="true">

      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Desafio</ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <!-- <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Inbox</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button>
      </ion-content>
    </div> -->
    <!-- <script>
      async function openMenu() {

        await menuController.open();
      }
    </script>  -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
